/build/
/.cache/
/.quarto/
/index.tex
/index.pdf
/*_files/
/.~lock.*#
/references/library.json
/references/style.csl
/references/zotero-styles
/references/.csl-parents
/references/*.tmp-*
/references/*.backup-*
*.log
__pycache__/
*.py[cod]
.DS_Store

**/*.quarto_ipynb
